* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    background-color: pink;
    background-position: center;
}

h1 {
    padding-left: 70px;
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    background-color: white;
    color: pink;
    margin-left: -10px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 20px;
    text-decoration: underline;
}


li a:hover {
    background-color: rgb(212, 194, 255);
}

.hero-image {
    display: flex;
    position: relative;
    margin: 0px;
}

.hero-text {
    display: flex;
    position: absolute;
    color: white;
    background-color: pink;
    top: 65%;
    right: 3%;
    padding-left: 15px;
    padding-right: 15px;
}




/* Need to fix this code */

.img-div {
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: radial-gradient(pink, purple, white);
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-bottom: 20px;
}

.img-div p {
    margin: 0;
    font-size: 50px;
    padding: 10px;
    background-color: pink;
    align-items: flex-end;
}

.about-me-container {
    display: flex;
    position: absolute;
}

.about-me-head {
    align-items: center;
    font-size: 40px;
    padding: 10px 20px 5px 50px;
    margin-top: 3%;
    width: 20%;
    border-right: solid rgb(255, 144, 163) 3px;
    color: white;
    background-color: pink;
    position: relative;
}

.about-me-content {
    display: inline-block;
    position: relative;
    left: 250px;
    bottom: 150px;
    overflow: none;
    width: 70%;
}

.work-container {
    display: flex;
    position: absolute;
}


.work-head {
    align-items: center;
    font-size: 40px;
    padding: 10px 20px 5px 50px;
    margin-top: 3%;
    width: 20%;
    border-right: solid rgb(255, 144, 163) 3px;
    color: white;
    background-color: pink;
    position: relative;
}

.work-body {
    position: relative;
    display: flex;
}

.img-placeholder {
    display: flex;
    width: 100%;
    margin-left: 10%;
    background: linear-gradient(#ffffff, #9198e5);    
    border: 2px solid #9198e5;
    padding: 50px;
    margin: 20%;
}


.img-text {
    background-color: pink;
    display: inline-block;
    color: white;
    padding: 10px;
    margin-left: 0;
    margin-top: 30%;
}


.contact-container {
    position: absolute;
}

.contact-head {
    align-items: center;
    font-size: 40px;
    padding: 10px 20px 5px 50px;
    margin-top: 3%;
    width: 20%;
    border-right: solid rgb(255, 144, 163) 3px;
    color: white;
    background-color: pink;
    position: relative;
}

.contact-body {
    display: inline-block;
    position: relative;
    left: 0px;
    bottom: 0px;
    overflow: none;
    width: 70%;
}

.socials {
    text-align: center;
    font-size: 20px;
    align-content: space-between;
    justify-content: space-between;
    width: 50%;
}