* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    background-color: pink;
    background-position: center;
}

h1 {
    padding-left: 70px;
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    background-color: white;
    color: pink;
    margin-left: -10px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 20px;
    text-decoration: underline;
}


li a:hover {
    background-color: rgb(212, 194, 255);
}